@font-face {
  font-family: "7host";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/7host.eot");
  src: url("fonts/7host.eot?#iefix") format("embedded-opentype"),
    url("fonts/7host.woff2") format("woff2"),
    url("fonts/7host.woff") format("woff"),
    url("fonts/7host.ttf") format("truetype");
}
body {
  font-family: 7host, Tahoma;
}

#offers {
  background: linear-gradient(45deg, rgba(183,152,91,0.5) 0%,rgba(183,152,91,1) 100%) ;
}